/* Fonts */

@font-face {
    font-family: Spore-Regular;
    src: url(Spore-Regular.ttf);
}

@font-face {
    font-family: Spore-Light;
    src: url(Spore-Light.ttf);
}

@font-face {
    font-family: "Trebuchet EA";
    src: url(trebucheteabold.ttf);
}

/* Global styles */

html {
    --spore-font: Spore-Regular, sans-serif;
    --spore-body-font: "Trebuchet EA", sans-serif;
    --spore-white: #FFF;
    --spore-cool: #F0F1F4;
    --spore-neutral: #939496;
    --spore-deep-grey: #6D6E70;
    --spore-light-space: #4E9DD8;
    --spore-mid-space: #2361A7;
    --spore-deep-space: #000112;
    font-family: var(--spore-font);
    font-size: 16px;
    background: var(--spore-cool) url("bg.png");
}

body {
    max-width: 1024px;
    margin: auto;
    border: 8px var(--spore-light-space) solid;
    background: var(--spore-white);
}

/* Reusable styles */

.hidden {
    display: none;
}

.columns {
    display: flex;
}

.columns div {
    flex: 25%;
    font-size: 14px;
    padding: 0 4px;
}

/* Header navigation */

header nav {
    position: relative;
    padding: 8px 24px;
}

header nav a {
    text-decoration: none;
    color: var(--spore-mid-space);
}

/* Header nav breadcrumbs */

header nav #nav-breadcrumbs {
    position: absolute;
    color: var(--spore-light-space);
}

header nav #nav-breadcrumbs a:hover {
    color: var(--spore-light-space);
}

/* Header nav menu */

header nav #nav-menu {
    position: absolute;
    right: 8px;
    margin: 0;
}

header nav #nav-menu li {
    display: inline;
    padding: 12px;
    border-bottom: solid 1px white;
}

header nav #nav-menu li:hover {
    background-color: var(--spore-light-space);
}

header nav #nav-menu ul {
    display: none;
    position: absolute;
    top: 33px;
    padding: 0;
    width: 78px;
}

header nav #nav-menu li:hover ul {
    display: block;
    background-color: var(--spore-light-space);
}

header nav #nav-menu ul li {
    display: block;
    padding: 12px 0;
}

header nav #nav-menu ul li a {
    padding: 12px;
}

/* Footer styles */

footer {
    color: var(--spore-deep-grey);
    font-size: 14px;
    padding: 0 24px;
}

/* Basic styles */

p {
    font-family: var(--spore-body-font);
}

a {
    color: var(--spore-light-space);
}

h1 {
    color: var(--spore-light-space);
    font-size: 32px;
}

h2 {
    color: var(--spore-light-space);
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

hr {
    border: 2px solid var(--spore-mid-space);
    margin: 32px 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

table {
    border-collapse: collapse;
    font-family: var(--spore-body-font);
    font-size: 14px;
    margin: 12px 0;
}

td, th {
    border-top: 1px solid var(--spore-mid-space);
    border-bottom: 1px solid var(--spore-mid-space);
    padding: 4px;
}

/* Main content styles */

article {
    padding: 0 24px;
    margin: 32px 0;
}

article p, article p a {
    margin-top: 0;
}