/* Basic styling */

@font-face {
  font-family: Spore-Regular;
  src: url(Spore-Regular.ttf);
}
@font-face {
  font-family: Spore-Light;
  src: url(Spore-Light.ttf);
}

@font-face {
  font-family: "Trebuchet EA";
  src: url(trebucheteabold.ttf);
}

html {
    --spore-font: Spore-Regular, sans-serif;
    --spore-body-font: "Trebuchet EA", sans-serif;

    --spore-white: #FFF;
    --spore-cool: #F0F1F4;
    --spore-neutral: #939496;
    --spore-deep-grey: #6D6E70;
    --spore-light-space: #4E9DD8;
    --spore-mid-space: #2361A7;
    --spore-deep-space: #000112;

    font-family: var(--spore-font);
    font-size: 16px;

    background: var(--spore-cool) url("bg.png");
}

body {
    max-width: 1024px;
    margin: auto;
    border: 8px var(--spore-light-space) solid;
    background: var(--spore-white);
}



/* Reusable styles */

.hidden {
    display: none;
}

.columns {
    display: flex;
}
.columns div {
    flex: 25%;
    font-size: 14px;
    padding: 0 4px;
}

img {
    max-width: 100%;
    max-height: 100%;
}



/* Header navigation */

header nav ul {
    margin: 0;
    padding: 12px 0;
}

header nav li {
    display: inline;
    padding: 12px;
}

header nav li:hover {
    background-color: var(--spore-light-space);
}

header nav a {
    text-decoration: none;
    color: var(--spore-mid-space);
}

header nav #nav-menu ul {
    display: none;
    position: absolute;
    margin-top: 12px;
    padding: 0;
}
header nav #nav-menu li:hover ul {
    display: block;
    background-color: var(--spore-light-space);
}
header nav #nav-menu ul li {
    display: block;
}

header nav #nav-menu {
    float: right;
}



/* Main page content */

article {
    padding: 0 24px;
    margin: 24px 0;
}

h1 {
    color: var(--spore-light-space);
    font-size: 28px;
}

h2 {
    color: var(--spore-light-space);
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

article p {
    margin-top: 0;
    font-family: var(--spore-body-font);
}

article p a {
    margin-top: 0;
    color: var(--spore-light-space);
}
