<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }} - Spore Community Hub</title>
    <link rel="stylesheet" href="style/style.css">
</head>

<body>

  <header>
    <h1 id="site-title">Spore Community Hub</h1>
    <h2 id="page-title">{{ page.title }}</h2>
    
    <nav>
      <ul id="nav-menu">
        <li>
          <a>&#9776; Menu</a>
          <ul>
            <li>
              <a target="_blank" rel="noopener noreferrer" href="https://github.com/Spore-Community">GitHub</a>
            </li>
            <li>
              <a target="_blank" rel="noopener noreferrer" href="https://discord.gg/66jVk3X">Discord</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <article>
    {{ content }}
  </article>

</body>

</html>
